@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Newsreader', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(73, 16, 16);
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.app{
  display: flex;
flex-direction: column;
  justify-content: center;
}
.age-verification{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40vh;
}

ul{
  list-style: none;
  padding: 5px;
}

