@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Newsreader', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(73, 16, 16);
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.app{
  display: flex;
flex-direction: column;
  justify-content: center;
}

.age-verification{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40vh;
}

form{
  margin-top: 12px;
}

input[type='submit']{
  padding: 6px;
  background: transparent;
  border: white solid 2px;
  color: white;
  font-weight: 600;
  margin-top: 5px;
  border-radius: 2px;
}

input[type='submit']:hover{
  padding: 6px;
  background: white;
  border: white solid 2px;
  color: #491010;
  font-weight: 800;
}

ul{
  list-style: none;
  padding: 5px;
}

/* SCROLLBAR  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkred;
}

@media only screen and (max-width:700px) {
  .age-verification{
    width: 50vw;
  }

}
