* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

body {
  background: rgb(73, 16, 16);
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}