* {
    list-style: none;
}
.single__view{
    height: 100vh;
    width: 100vw;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: center;                                                                                               
    align-items: center;
    background: rgba(0, 0, 0, 0.788);
    border-radius: 20px;   
}
.close-modal{
    position: absolute;
    top: 0;
    right: 0;
    /* padding-left: 90vw; */
    height: 20px;
    font-size: 48px;
    margin: 20px;
    color: rgb(255, 255, 255);
}
.single__view__main{
    padding: 15px;
    background: white;
    color: rgb(0, 0, 0);
    max-height: 100%;
    height: max-content;
    width: 60vw;
    max-width: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.single__view__title{
    /* background: white; */
    color: black;
    padding: 8px;
}

img{
    width: 60vw;
    height: auto;
    max-height: 450px;
    max-width: 450px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:visited{
    color: rgba(175, 0, 0, 0.815);
    font-style: italic;
}

.single__view__info{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 5px;
    padding-bottom: 15px;
}

.ingredient__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ingredient__list > li {
    margin-left: 15px;
}
.mb-5{
    margin-bottom: 5px;
}
@media only screen and (max-width:600px) {
    .single__view__back{
        margin-top: 5px;
    }
    .single__view__main, img{
        width: 90vw;
    }

  }
  .spinner{
      max-width: 200px;
  }
