.drinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.drinks__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.spinner_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container{
    margin: 5px;
}
.filter-btn{
    padding: 10px;
    background-color: white;
    border: transparent solid 1px;
    margin: 2px;
    font-weight: 600;
    border-radius: 33px;
}
.filter-btn:hover{
    background-color: rgb(243, 243, 243);
    /* border-bottom: black solid 1px; */
    color: darkred;
}
@media only screen and (min-width: 1440px) {
   
    .drinks__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

@media only screen and (max-width: 980px) {
   
    .drinks__container {
        grid-template-columns: 1fr 1fr ;
    }
  }
  
  @media only screen and (max-width: 668px) {
    .drinks__container {
        grid-template-columns: 1fr;
    }
  }
  