.searchBar {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.searchBar__form{
    display: flex;
    flex-direction: column;
    flex: .5;
    justify-content: space-between;
    align-items: center;    
}

.searchBar__input {
    border: transparent inset 2px;
    border-radius: 33px;
    outline-style: none;
    padding: 5px 15px;
    margin: 10px 0px;
}

.searchBar__input:focus {
    border: inset rgb(255, 255, 255) 2px;
}